.Container {
  width: 400px;
  height: auto;
  /* backdrop-filter: blur(8px) saturate(180%); Frosted glass effect */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle border */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Outer shadow for depth */
  /* box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5); */
  padding: 1rem;
  background-color: #ffff;

  header {
    text-align: center;
    font-size: 1.2rem;
    color: #000;
    font-weight: 500;
    margin-bottom: 2rem;
  }

  section {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 0.4rem;
      color: rgba(0, 0, 0, 0.8);
      font-size: 0.9rem;
    }
    input {
      padding: 0.5rem;
      background-color: rgba(255, 255, 255, 0.377);
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      color: rgba(0, 0, 0, 0.8);
      height: 50px;
    }

    /* Remove arrows from number input */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }


    :focus {
      outline-color: green;
      outline-offset: 4px;
    }
  }

  button {
    width: 100%;
    padding: 1rem;
    height: 50px;
    background: green;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    color: #fff;
  }
}
