@import url('https://fonts.googleapis.com/css2?family=Convergence&family=Domine:wght@400..700&family=Mochiy+Pop+P+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Varela+Round&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family: "Convergence", sans-serif;
  font-weight: 400;
}

